<!--
- Licensed Materials - Property of IBM* and/or HCL**
- UrbanCode Deploy
- (c) Copyright IBM Corporation 2011, 2017. All Rights Reserved.
- (c) Copyright HCL Technologies Ltd. 2018. All Rights Reserved.
-
- U.S. Government Users Restricted Rights - Use, duplication or disclosure restricted by
- GSA ADP Schedule Contract with IBM Corp.
-
- * Trademark of International Business Machines
- ** Trademark of HCL Technologies Limited
-->
<div id="graphContainer"></div>

<script type="text/javascript">
    /* <![CDATA[ */
    require([
        "deploy/widgets/componentProcess/ComponentProcessActivities"
        ],
    function(
        ComponentProcessActivities
    ) {
        var readOnly = false;

        if (config.data.systemConfiguration.safeEditFeatureEnabled) {
            readOnly = true;
        }

        var componentProcessActivities = new ComponentProcessActivities({
            componentProcess: appState.componentProcess,
            readOnly: readOnly,
            isDraft: false
        });
        componentProcessActivities.placeAt("graphContainer");

        navBar.setPageChangeNotification(function() {
            var result = false;
            if (document.hasChanges) {
                result = true;
            }
            return result;
        });
    });
    /* ]]> */
</script>
