@import '../../../carbon/globals/import-once';

@mixin wizard {
    .webext-wizardDialog .dojoxWizard {
        height: 100%;
    }
    
    .webext-wizardDialog .dojoxWizard .dojoxWizardContainer .columnForm {
        border-bottom: none;
    }
    
    .webext-wizardDialog .dojoxWizardContainer > .dijitContentPane {
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        overflow: hidden;
    }
    
    .webext-wizardDialog .dijitDialogTitleBar {
        position: relative;
    }
    
    .wizardProgressImage {
        height: 40px;
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -20px;
    }
}

@include exports('wizard') {
    @include wizard;
}
