<!--
- Licensed Materials - Property of IBM* and/or HCL**
- UrbanCode Deploy
- (c) Copyright IBM Corporation 2011, 2017. All Rights Reserved.
- (c) Copyright HCL Technologies Ltd. 2018. All Rights Reserved.
-
- U.S. Government Users Restricted Rights - Use, duplication or disclosure restricted by
- GSA ADP Schedule Contract with IBM Corp.
-
- * Trademark of International Business Machines
- ** Trademark of HCL Technologies Limited
-->
<div class="masterContainer">
    <div class="containerLabel" id="mainLabel1"></div>
    <div class="innerContainer">
      <div id="resourceResources"></div>
    </div>
</div>

<script type="text/javascript">
    /* <![CDATA[ */
    require([
        "deploy/widgets/resource/ResourceResourceTree",
        "dojo/dom"
        ],
    function(
        ResourceResourceTree,
        dom
    ) {
        dom.byId("mainLabel1").innerHTML = i18n("Subresources");
        var gridRestUrl = bootstrap.restUrl+"resource/resource/"+appState.resource.id+"/resourcesTree";
        var resourceResourceTree = new ResourceResourceTree({
            url: gridRestUrl,
            resource: appState.resource,
            xhrMethod: "POST",
            serverSideProcessing: true
        });
        resourceResourceTree.placeAt("resourceResources");
    });
    /* ]]> */
</script>
