<!--
- Licensed Materials - Property of IBM* and/or HCL**
- UrbanCode Deploy
- (c) Copyright IBM Corporation 2011, 2017. All Rights Reserved.
- (c) Copyright HCL Technologies Ltd. 2018. All Rights Reserved.
-
- U.S. Government Users Restricted Rights - Use, duplication or disclosure restricted by
- GSA ADP Schedule Contract with IBM Corp.
-
- * Trademark of International Business Machines
- ** Trademark of HCL Technologies Limited
-->
<div class="masterContainer">
  <div class="innerContainer" id="repeatRequestContainer">
    <div class="listTopButtons" id="repeatRequest"></div>
  </div>
  
  <div class="containerLabel" id="requestVersionsLabel"></div>
  <div id="versionWarning" class="versionWarning"></div>
  <div class="innerContainer">
    <div id="requestVersions"></div>
  </div>
</div>

<script type="text/javascript">
    /* <![CDATA[ */
    require([
        "deploy/widgets/applicationProcessRequest/RequestVersions",
        "dijit/form/Button",
        "dojo/_base/xhr",
        "dojo/dom",
        "js/webext/widgets/Alert",
        "js/webext/widgets/GenericConfirm"
        ],
    function(
        RequestVersions,
        Button,
        xhr,
        dom,
        Alert,
        GenericConfirm
    ) {
        dom.byId("requestVersionsLabel").innerHTML = i18n("Versions Included in Request");
        if (appState.environment.security.execute) {
            var repeatRequestDiv = dom.byId("repeatRequest");
            var repeatButton = new Button({
                label: i18n("Repeat Request"),
                showTitle: false,
                onClick: function() {
                    var confirm = new GenericConfirm({
                        message: i18n("Are you sure you want to repeat the application process request for this deployment request?"),
                        action: function() {
                            xhr.put({
                                url: bootstrap.restUrl+"deploy/deploymentRequest/"+appState.deploymentRequest.id+"/repeat",
                                handleAs: "json",
                                load: function(data) {
                                    navBar.setHash("applicationProcessRequest/"+data.requestId+"/log", false, true);
                                },
                                error: function(error) {
                                    new Alert({
                                        title: i18n("Error"),
                                        messages: [i18n("An error has occurred while starting the component process:"),
                                                   "",
                                                   util.escape(error.responseText)]
                                    });
                                }
                            });
                        }
                    });
                }
            });
            repeatButton.domNode.style.margin = "0px 3px";
            repeatButton.domNode.style.fontSize = "11px";
            repeatButton.placeAt(repeatRequestDiv);
        }
        else {
            util.addClass(dom.byId("repeatRequestContainer"), "hidden");
        }
        var requestVersions = new RequestVersions();
        requestVersions.placeAt("requestVersions");
    });
    /* ]]> */
</script>
